@model IEnumerable<Website.EndPoint.Areas.panel.Models.Dto.UserListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.UserStatus)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
            @if (@item.UserStatus == 0)
            {
                    <td>تکمیل اطلاعات (غیرفعال)</td>
            }
            else if (@item.UserStatus == 1)
            {
                    <td>بررسی مجدد اطلاعات</td>
            }
            else
            {
                    <td>فعال (تایید شده)</td>
            }
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Users", new { id = item.Id, area = "Panel" }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", "Users", new { id = item.Id, area = "Panel" })|
                    @Html.ActionLink("Add Role", "AddUserRole", "Users", new { id = item.Id, area = "Panel" })|
                    @Html.ActionLink("User Roles", "UserRoles", "Users", new { id = item.Id, area = "Panel" })
                </td>
            </tr>
        }
    </tbody>
</table>
